Flask==3.0.2
gunicorn==21.2.0
Werkzeug==3.0.1
setuptools>=70.0.0   # ensures pkg_resources is available

numpy==1.26.4
pandas==2.2.0
matplotlib==3.11.0
plotly==6.8.0
leafmap==0.30.0
folium==0.20.0
branca==0.8.2
jupyterlab_widgets==3.0.16
ipywidgets==8.1.8
ipyleaflet==0.20.0
ipytree==0.2.2
ipyevents==2.0.4
ipyfilechooser==0.6.0
jupyter-leaflet==0.20.0

requests==2.34.2
urllib3==2.7.0
certifi==2026.6.17
charset-normalizer==3.4.7
idna==3.18

psutil==7.2.2
tqdm==4.68.3
filelock==3.29.4
soupsieve==2.8.4
beautifulsoup4==4.15.0

# Optional but recommended for stability
jsonschema==4.26.0
attrs==26.1.0
typing-extensions==4.15.0
